<!DOCTYPE html>
<html ng-app="store">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello Angular</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>

    <style type="text/css">
        .ng-dirty.ng-invalid {
            border-color: red;
        }
        .ng-dirty.ng-valid {
            border-color: #008000;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="">{{"Welcome To "+"Angular Gem Store!"}}</h1>
        </div>
    </div>
    <div class="container">

        <div class="row" ng-controller="StoreController as store">
            <div class="col-md-4" ng-repeat="product in store.products">
                <div class = "panel panel-default">

                    <div class="panel-heading">
                        <h1>
                            {{product.name}}
                            <em class="pull-right">{{product.price | currency}}</em>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div id="carousel-{{$index}}" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item " ng-class="{active : $index>1}" ng-repeat="image in product.images">
                                    <img class="img-responsive center-block" ng-src="{{image}}">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#carousel-{{$index}}" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#carousel-{{$index}}" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation">
                                    <a href="#description-{{$index}}"
                                       aria-controls="description" role="tab" data-toggle="tab">Description</a>
                                </li>
                                <li role="presentation">
                                    <a href="#spec-{{$index}}"
                                       aria-controls="Spec" role="tab" data-toggle="tab">Spec</a>
                                </li>
                                <li role="presentation">
                                    <a href="#reviews-{{$index}}"
                                       aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" id="description-{{$index}}">Profile</div>
                                <div role="tabpanel" class="tab-pane" id="spec-{{$index}}">Messages</div>
                                <div role="tabpanel" class="tab-pane" id="reviews-{{$index}}">
                                    <h4>Reviews</h4>
                                    <li ng-repeat="review in product.reviews">
                                        <blockquote>
                                            <strong>{{review.stars}} Stars</strong>
                                            {{review.body}}
                                            <cite> by {{review.author}} on {{review.createdOn | date}}</cite>
                                        </blockquote>
                                    </li>
                                    <!--Review Form-->
                                    <form name="reviewForm" ng-controller="ReviewFormController as formCtrl"
                                          ng-submit="reviewForm.$valid && formCtrl.submitReview(product)" novalidate>

                                        <h4>Submit a Review</h4>
                                        <blockquote>
                                            <strong>{{formCtrl.review.stars}} Stars</strong>
                                            {{formCtrl.review.body}}
                                            <cite>-by {{formCtrl.review.author}}</cite>
                                        </blockquote>
                                        <fieldset class="form-group">
                                            <select class="form-control" ng-model="formCtrl.review.stars"
                                                    ng-options="stars for stars in [5,4,3,2,1]" required>
                                                <option value="">Rate this product</option>
                                            </select>
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <textarea class="form-control" placeholder="Write a short review"
                                                      ng-model="formCtrl.review.body" required>

                                            </textarea>
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <input type="email" class="form-control" placeholder="example@domain.com"
                                                    ng-model="formCtrl.review.author" required>

                                        </fieldset>
                                        <fieldset class="form-group">
                                            <input type="submit" class="btn btn-primary pull-right">
                                        </fieldset>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <p>
                @ All right reserved mir.md.asif@gmail.com
            </p>
        </footer>
    </div>
    <script type="text/javascript" src="js/libs/jquery.js"></script>
    <script type="text/javascript" src="js/libs/angular.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="js/App.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
</body>
</html>